.header { padding-bottom: 5px; text-align: center; background-color: #3d2a6f; color: #fff;}
.footer { height: 30px; line-height: 30px; color: #fff;  text-align: center; border-top: 1px solid; margin-top: 20px; background-color: #336699;}
.menu-item {display: inline-block; float: left; width: 100px; }
.content {min-height: 400px; }
.a-menu {color: #fff;}
.a-menu:hover { color: #eee; }
#item-desc {min-height: 200px; background-color: #f0f0f0; padding: 10px;  margin-bottom: 10px;}
#outer-box {border: 1px solid;}
.link{ color: blue;  cursor: pointer}
.link:hover {text-decoration: underline}
#banner { width: 100%; }
#sign-in{height: 30px; color: #000;}
#lg-box { color: #000;}
#main { margin: 0; padding: 0;}
#customer-name, #acc-info { display: none;}
#sign-in, #sign-out {color: #fff; margin-left: 20px; cursor: pointer; text-decoration: underline;}
input.log-info { border-radius: 5px; height: 20px;}
#shopping-cart {width: 80%; display: none; margin-top: 5px; padding: 5px; }
#customerlist { color : blue; cursor: pointer }
.filters { width: 85px; }
